.navbar {
  justify-content: space-between;
  background: white;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  .word-logo {
    color: $red;
    font-size: 28px;
    font-family: $logo-font;
  }
}
